.jumbotron{

}

.bp-20{
  margin: 0px 0px 20px 0px;
}

.bp-40{
  margin: 0px 0px 40px 0px;
}

.rp-20{
  margin-right: 20px;
}

.fa {
  font-size: 50px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.a{
  text-decoration: none;
}
.display-4{
  font-family: 'Noto Serif', serif;
}

.noto-style{
  font-family: 'Noto Serif', serif
}

p{
  font-family: 'Open Sans', sans-serif; font-size: 18px !important;
}

body{

}

h1 h2 h3 h4 h5 h6 {

}
